.box {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 3px solid black;
    margin: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.item {
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 3px solid black;
    margin: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.wrapper {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}